<div class="container-fluid" style="margin:20px;">
    <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <div class="d-flex align-items-stretch flex-column" style="margin-bottom: 10px;">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">{{product.name}}</div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <label style="font-size:small;">price : </label><small>{{product.price}} </small><br>
                                <label style="font-size:small;">brand : </label><small>{{product.brand}} </small><br>
                                <label style="font-size:small;">category : </label><small>{{product.category}} </small><br>
                                <label style="font-size:small;">description : </label><small>{{product.description|slice:0:20}} </small>                 
                            </div>
                            <div class="col-5 text-center">
                                <img src="{{path}}{{product.image}}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                                </a>
                                <a  class="btn btn-sm btn-primary" href="http://localhost:8000/api/download/{{product.id}}" >
                                <i class="fas fa-plus-circle" ></i>Download
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>