<section class="about">
    <div class="container-images">
            <img src="assets/icon/about1.png" alt="" class="me">
    </div>
    <div class="container-texts">
            <h1 style="color:azure">About<span>Me</span></h1>
            <h5 style="color:azure"><span>BookStore</span> Market</h5>
            <p> I'm glad to see you here guys and i'll do my best to help you all.
                my name is chetouani hamid,20 years old, from morocco.
                I'm a front-end  web developer, i can provide clean code and perfect design.
                i also make the website more and more interactive and attractive with web 
                animations, a responsive design makes your website accessible to all users, 
                regardless of their device.
                i also graduated from a informatique université which made me know more about
                coding and programming .
            </p>					
    </div>
</section>