<div style="margin-top: 20px;">
    <div class="col-md-3">
        <a class="btn btn-primary btn-block mb-3">Categories</a>
        <div class="card">
        <div class="card-header">
        <h3 class="card-title">Folders</h3>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        </div>
        </div>
        <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
        <li class="nav-item active">
        <a href="#" class="nav-link">Romance</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">Action</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">Mystery</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">Sport</a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">Thrilling</a>
        </li>
        </ul>
        </div>
        
        </div>
        
    </div>
</div>