<section class="home" id="home">
  <div class="content">
    <div class="container-texts">
      <a routerLink="/content" class="btn">get started</a>
      <div class="social-media">
        <a href="#"><img src="assets/icon/Facebook.png" alt=""></a>
        <a href="#"><img src="assets/icon/Instagram.png" alt=""></a>
        <a href="#"><img src="assets/icon/Twitter.png" alt=""></a>
        <a href="#"><img src="assets/icon/YouTube.png" alt=""></a>
        <a href="#"><img src="assets/icon/Whatsapp.png" alt=""></a>
      </div>
    </div>
    <div class="container-images">
      <img src="assets/icon/master.png" alt="" class="master">
    </div>
  </div>
</section>